---
layout: base
---

<h3>Hi! I'm Ruthu, currently a senior at the Indian Institute of Technology Kharagpur.
I will be joining Boston Consulting Group (BCG) as an Associate post graduation.
I am passionate about all things tech x entrepreneurship.
Occasionally, I write about my work and experiences on <a href = "https://medium.com/@ruthussanketh">Medium</a>. <br><br>
Get in <a href = "https://www.linkedin.com/in/ruthu-s-sanketh/">touch</a> if you're working on something interesting, have an idea, or just want to connect!
  </h3>

<br><br>
<h1>About Me</h1>
<h3>I've worked in software, AI/ML, product management, sales and marketing, and venture capital
(whaaattt?! Yes I know I'm quite the explorer). You can view my resume <a href = "https://drive.google.com/file/d/1P9RAuVMKN11DyEYfy3PkrUmArDoPzdSS/view?usp=sharing/">here</a>.
</h3>

<br><br>
<h3>
When I'm not working, I read fiction novels and enjoy competitive swimming.
I also love travelling and have a humongous bucket list of adventure sports I'm definitely going to get to (whatta cliché am I right?)
Watching Formula 1 racing is my post-Covid favorite pastime.
I also identify as a member of the LGBTQIA+ community and aim to increase representation and inclusivity as a woman in STEM.
</h3>

<br><br>
<h1>Resources</h1>
<h3>
My seniors proved invaluable through their resources, insights, and mentorship during my time at IIT Kharagpur.
Passing it along by attaching a list of curated academic and professional resources.
Please reach out if you have something I can add to the list or if you need any specific advice.
</h3>

<br><br>
<h2>Courses</h2>
<h3>
A drive of class notes, books, tutorials, exam questions and solutions, and projects taken in (nearly) every course I have taken on campus ordered by semester and course name.
Semester 2 <br>
Semester 3 <br>
Semester 4 <br>
Semester 5 <br>
Semester 6 <br>
Semester 7 <br>
Semester 8 <br>
Semester 9
</h3>

<br><br>
<h2>Internships and Placements</h2>
<h3>
While this is by no means an exhaustive or sure-shot list to be followed to land an internship or job offer, its an extensive set of books, tips, advice and other resources for almost standard all job profiles - software, AI/ML, product management and consulting.
If nothing else, its a good starting point in your job preparation journey. Best of luck!
Consulting <br>
Software and AI/ML <br>
Product Management
</h3>
