---
layout: base
---

<h3>Hi! I'm Ruthu, currently employed as an Associate at Boston Consulting Group (BCG).
I graduated from IIT Kharagpur with a major in Aerospace Engineering and a minor in Computer Science and Engineering.
I am passionate about all things tech x entrepreneurship.
<br><br>
<center><figure>
    <img src="https://media.tenor.com/OMTj-tWp97kAAAAC/entrepreneur-elf-veefriends.gif" width="40%" height="40%">
    <figcaption>Cultivating an entrepreneurial mindset.</figcaption>
</figure></center>
Occasionally, I write about my work and experiences on <a href = "https://medium.com/@ruthussanketh" target="_blank">Medium</a>.
Get in <a href = "https://www.linkedin.com/in/ruthu-s-sanketh/" target="_blank">touch</a> if you're working on something interesting, have an idea, or just want to connect!
</h3>
